table{
    border: 10px solid black;
    width: 1000px;
    height: 400px;
    border-collapse: collapse;
    margin-left: 250px;
    margin-top: 25px;
}
th{
    border: 10px solid black;
}
#d{
    margin-top: 100px;
}

#goback{
    position: fixed;
    top: 1px;
    height: 100px;
    width: 100px;
}

